.navbar {
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(84, 9, 121, 1) 17%,
    rgba(0, 212, 255, 1) 100%
  );
}

.brand {
  color: #fff;
  padding: 0;
  font-size: 30px;
  letter-spacing: 5px;
  text-shadow: 3px 1px blue;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding-right: 10px;
}
